.ba-header {
	background: url(../img/header-bg.jpg) 0 0 no-repeat;
	background-size: cover;
	text-align: center;
	font-family: "Proxima Nova";
	color: #fff;
	padding-top: 56px;
	&__title {
		font-size: 72.22px;
		font-weight: 700;
		margin-top: 330px;
	}
	&__description {
		margin-bottom: 500px;
		font-size: 30px;
	}
	
}
.ba-navigation {
	background: transparent;
	border: none;
	border-radius: 0;
	font-size: 24px;
	
	
}
.ba-navigation a {
	color: #fff !important;
	transition: .2s ease-in;
	&:hover {
		opacity: 0.5;
	}
}
