<header class="ba-header" id="top">
	<div class="container">
		<nav class="navbar navbar-default  ba-navigation">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a class="navbar-brand ba-logo" href="#"> <img src="{{root}}assets/img/Logo.svg" alt="logo"></a>
    </div>

   
    <div class="collapse navbar-collapse" id="primary-navigation">
      <ul class="nav navbar-nav navbar-right text-uppercase">
        <li><a href="#">Home</a></li>
        <li><a href="#ba-team">About</a></li>
        <li><a href="#ba-slider">Services</a></li>
        <li><a href="#ba-work">Works</a></li>
        <li><a href="#ba-contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="ba-header__main">
<h1 class="ba-header__title text-uppercase">CreativE DIGITAL Project</h1>
  <h2 class="ba-header__description">Duis mollis, est non commodo luctus, <br>
   nisi erat porttitor ligula, eget lacinia odio sem nec elit.</h2>
 </div>
	</div>
</header>